@font-face { font-family: Raleway; src: url('raleway/Raleway-Regular.ttf'); } 
@font-face { font-family: RalewayBold; src: url('raleway/Raleway-SemiBold.ttf'); } 

body {
	margin: 0px;
	padding: 0px;
	font-family: Raleway !important;
}

ul {
	margin-top: 10px;
	padding-left: 0px;
}

p {
	margin: 0px;
	font-size: 12px;
}

a {

	color: #585858;
	transition: all 0.5s;

}

a:hover {

	color: white;
	background-color: #585858;
	text-decoration: none;

}

h4 {
	margin: 0px;
}

input {
	border-radius: 6px;
	margin-left: 10px;
	padding: 4px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
}

::-webkit-scrollbar {
width: 12px;
}
 
::-webkit-scrollbar-track {
	 background-color: #E6E6E6; 
}
 
::-webkit-scrollbar-thumb {
	 background-color: #CCCCCC; 
	 border-style: solid;
	 border-color: #FFFFFF;
	 border-width: 1px;
}

.fullwidth {
	width: 100%;
	clear: both;
}

.semi-fullwidth {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	clear: both;
}

.floatright {
	float: right;
}

.light-gray {
	background-color: #F2F2F2 !important;
	background-image: url("images/Rivet.png") !important;
}

.dark-gray {
	background-color: #CCCCCC !important;
}

.gray {
	background-color: #F2F2F2 !important;
}

.white {
	background-color: #FFFFFF !important;
}

.white-background {
	background-color: #FFFFFF !important;
	background: linear-gradient(#FFFFFF, #FFFFFF) !important;
}

.line1 {

	position: relative;
	width: 80%;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;

}

.line2 {

	position: relative;
	width: 90%;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	clear: both;

}

.statbar {
	position: relative;
}

.shiftup {
	position: relative;
	margin-top: -10px;
}

.lessershiftup {
	position: relative;
	margin-top: -10px;
}

.shiftdown {
	position: relative;
	margin-top: 20px;
}

.lessershiftdown {
	position: relative;
	margin-top: 10px;
}

.shiftright {
	margin-left: 20px;
}

.pushdown {
	position: relative;
	margin-bottom: 20px;
}

.lesserpushdown {
	position: relative;
	margin-bottom: 10px;
}

.text-center {
	text-align: center;
}

.flex {
	display: flex;
	justify-content: center !important;
	align-items: center;
}

#fancy-holder {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #CCCCCC;
	z-index: 100;
	top: 50px;

}

#fancy-line-1 {

	width: 0%;
	height: 2px;
	background-color: #585858;
	z-index: 100;
	transition: all 1s;

}

.progress {
	width: 90%;
	margin: 0px;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
}

.progress-bar {
	-webkit-box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.7);
}

.menu-item {

	display: flex;
	justify-content: center;
	align-items: center;

}

#second-menu li:hover {

	color: white;
	background-color: #585858;

}

.purchases {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.clickable {
	cursor: pointer;
}

.grayedout {
	opacity: 0.4;
}

.rank-image {
	width: 40px;
	height: 40px;
}

.rank-career-block {
	z-index: 10;
}

.rank-career-info {

	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.current-metrics {
	align-items: initial !important;
}








@media screen and (min-width: 960px) {

	#top-menu {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50px;
		top: 0px;
		color: #FFFFFF;
		background-color: rgba( 62, 126, 167, 1);
		z-index: 100;
		transition: all 0.5s;
	}

	.center {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}

	#company-box {

		justify-content: flex-start;
		align-items: center;
		height: 50px;
		float: left;

	}

	#company-name {

		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 20px;
		padding-right: 20px;	
		
	}

	#company-name h3 {
		margin-top: 14px;
		
	}

	#banner-box {
		position: relative;
		width: 100%;
		height: 400px;
		top: 130px;
		z-index; 50;
		transition: all 0.5s;

	}

	#banner-menu {

		position: relative;
		width: 100%;
		height: 80px;
		z-index; 50;
		top: -70px;
		transition: all 0.5s;

	}

	#banner {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 50px;
		background-color: #0080ff;
		background-image: url("images/GameBg.png");
		z-index; 50;
	}

	#banner-cover {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		top: 50px;
		height: 100vh;
		color: white;
		background-image: url("images/Rivet.png");
		z-index; 50;
		transition: all 0.5s;
	}

	#main {

		position: relative;
		top: -80px;

	}

	#menu {

		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-left: 0px;
		padding-right: 2%;
		color: #00b1b3;
		float: right;

	}

	#menu li {
		margin-top: -2px;
		padding: 8px;
		border-radius: 7px;
		border-style: solid;
		border-width: 0px;
	}

	#second-menu {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		/*color: #00b1b3;*/
		color: #585858;
		/*background-color: rgba( 62, 126, 167, 0.5);*/
		background-color: rgba( 255, 255, 255, 1);
		border-style: solid;
		border-width: 1px;
		border-color: #585858;
		transition: all 0.5s;

	}

	#second-menu li {
		padding: 15px;
		border-right-style: solid;
		border-right-color: #585858;
		border-right-width: 1px;
		transition: all 0.5s;
		cursor: pointer;
	}

	#wrapper {
		position: relative;
		width: 100%;
		height: 300vh;
		top: -100vh;
		background-color: #999999;
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: #999999;
		z-index: 90;
		transition: all 1.5s;
	}

	#Left {
		position: relative;
		width: 30%;
		margin-right: 2.5%;
		top: 35px;
		background-color: #F2F2F2;
		background-image: url("images/Rivet.png");
		border-style: solid;
		border-width: 1px;
		border-color: #CCCCCC;
		float: left;
		transition: all 1s;
		max-height: 850px;
		overflow-y: auto;

	}

	#Right {
		position: relative;
		width: 67.5%;
		top: 35px;
		background-color: rgba( 255, 255, 255, 1);
		border-style: solid;
		border-width: 1px;
		border-color: #CCCCCC;
		float: right;
		transition: all 0.5s;
		height: 850px;
	}

	.left-block {

		display: flex;
		justify-content: center;
		align-items: center;
		width: 90%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		color: #808080;
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;

	}

	.encircler {
		width: 90%;
		margin-top: 5px;
		margin-bottom: 5px;
		padding-left: 2.5%;
		padding-right: 2.5%;
		padding-top: 5px;
		padding-bottom: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #CCCCCC;
		border-radius: 4px;
	}

	.left-column-1 {

		width: 25%;
		margin-left: 5%;
		float: left;

	}

	.left-column-2 {

		width: 70%;
		float: left;

	}

	.left-column-3 {

		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 5px;
		margin-right: 5px;

	}

	.leftblock h4 {
		position: relative;
	}

	.employee-pic {
		width: 90%;
		border-style: solid;
		border-width: 2px;
		border-color: #999999;
	}

	#right-column-1 {

		width: 70%;
		height: 850px;
		float: left;
		overflow-y: scroll;

	}

	#right-column-2 {

		width: 30%;
		background-color: #F2F2F2;
		height: 850px;
		background: linear-gradient(#E6E6E6,#F2F2F2);
		float: right;
		overflow-y: scroll;

	}

	.right-block {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: #808080;
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;

	}

	.right-block-center {

		display: flex;
		justify-content: center;
		align-items: flex-start;
		color: #808080;
		margin-left: 20px;
		margin-right: 20px;

	}

	.right-block-item-1 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding-top: 10px;
		list-style-type: none;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #CCCCCC;

	}

	.right-block-item-1 h5 {

		font-size: 16px;
		color: rgba( 62, 126, 167, 1);
		cursor: pointer;

	}

	.right-block-item-2 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: #808080;
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.right-block-item-3 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-top-color: #CCCCCC;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 20px;
		clear: both;
		list-style-type: none;
	}

	.right-block-half {

		width: 45%;
		margin-left: 5%;
		margin-bottom: 20px;
		float: left;
		list-style-type: none;

	}

	.right-block-column-1 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 40%;
		float: left;

	}

	.right-block-column-2 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 55%;
		margin-right: 5%;
		float: left;

	}

	.right-block-item-2 li {
		margin-left: 10px;
	}

	.right-block-item-3-inner-1 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 42.5%;
		margin-left: 7.5%;
		margin-bottom: -15px;
		float: left;
	}

	.right-block-item-3-inner-2 {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 42.5%;
		margin-right: 7.5%;
		margin-bottom: -15px;
		float: right;
	}

	.label {
		padding: 10px;
		text-align: center;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.label h4 {
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#halfbox {
		position: relative;
		width: 70%;
		height: 1px;
		top: 65px;
		margin-left: auto;
		margin-right: auto;
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: #CCCCCC;
		z-index: 0;
	}

	.rank-career-title {

		display: flex;
		justify-content: center;
		align-items: center;
		height: 70px;

	}

	.rank-career {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		margin-left: 20px;
		margin-right: 20px;
		background-color: white;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		border-color: #CCCCCC;
		z-index: 10;
	}

	.rank-career-current {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		margin-left: 20px;
		margin-right: 20px;
		background-color: white;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		border-color: #808080;
		z-index: 10;
	}

	.rank-career-text {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 35px;
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		border-color: #808080;
		z-index: 0;
		text-align: center;
	    overflow: hidden;
	    text-overflow: ellipsis;

	}

	.fifth-item {

		display: inline-block;
		/*width: 19%;*/
		margin-top: 10px;
		margin-bottom: 10px;

	}

	.fifth-item-inside {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

	}

	.quarter-item {

		display: inline-block;
		width: 24%;
		margin-top: 10px;
		margin-bottom: 10px;

	}

	.quarter-item-inside {

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

	}

	.third-item {

		display: inline-block;
		width: 32%;
		margin-top: 20px;
		margin-bottom: 20px;

	}

	.third-item-inside {

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

	}

	.half-item {

		display: inline-block;
		width: 48%;
		margin-top: 10px;
		margin-bottom: 10px;

	}

	.half-item-inside {

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

	}

	.gift-image {

		width: 80px;
		height: 80px;
		margin: 20px;
		border-radius: 10px;

	}

	.training-image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		background-color: white;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		border-color: #808080;
		z-index: 10;
		cursor: pointer;
	}

	.shop-item-text {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 70px;
		height: 35px;
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		border-color: #808080;
		z-index: 0;
		text-align: center;
	    overflow: hidden;
	    text-overflow: ellipsis;

	}


}
















@media screen and (min-width: 640px) and (max-width: 959px) {

	#top-menu {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50px;
		top: 0px;
		color: #FFFFFF;
		background-color: rgba( 62, 126, 167, 1);
		z-index: 100;
		transition: all 0.5s;
	}

	.center {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}

	#company-box {

		justify-content: flex-start;
		align-items: center;
		height: 50px;
		float: left;

	}

	#company-name {

		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 20px;
		padding-right: 20px;	
		
	}

	#company-name h3 {
		margin-top: 14px;
		
	}

	#banner-box {
		position: relative;
		width: 100%;
		height: 400px;
		top: 130px;
		z-index; 50;
		transition: all 0.5s;

	}

	#banner-menu {

		position: relative;
		width: 100%;
		height: 80px;
		z-index; 50;
		top: -70px;
		transition: all 0.5s;

	}

	#banner {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 50px;
		background-color: #0080ff;
		background-image: url("images/GameBg.png");
		z-index; 50;
	}

	#banner-cover {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		top: 50px;
		height: 100vh;
		color: white;
		background-image: url("images/Rivet.png");
		z-index; 50;
		transition: all 0.5s;
	}

	#main {

		position: relative;
		top: -100px;

	}

	#menu {

		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-left: 0px;
		padding-right: 2%;
		color: #00b1b3;
		float: right;

	}

	#menu li {
		margin-top: -2px;
		padding: 8px;
		border-radius: 7px;
		border-style: solid;
		border-width: 0px;
	}

	#second-menu {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: #585858;
		background-color: rgba( 255, 255, 255, 1);
		border-style: solid;
		border-width: 1px;
		border-color: #585858;
		transition: all 0.5s;

	}

	#second-menu li {
		padding: 15px;
		border-left-style: solid;
		border-left-color: #585858;
		border-left-width: 1px;
		transition: all 0.5s;
		cursor: pointer;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#wrapper {
		position: relative;
		width: 100%;
		height: 400vh;
		top: -100vh;
		background-color: #999999;
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: #999999;
		z-index: 90;
		transition: all 1.5s;
	}

	#Left {
		position: relative;
		width: 100%;
		margin-top: 20px;
		background-color: #F2F2F2;
		background-image: url("images/Rivet.png");
		border-style: solid;
		border-width: 1px;
		border-color: #CCCCCC;
		float: left;
		transition: all 1s;
		max-height: 850px;
		overflow-y: auto;
		clear: both;
	}

	#Right {
		position: relative;
		width: 100%;
		margin-top: 20px;
		background-color: rgba( 255, 255, 255, 1);
		border-style: solid;
		border-width: 1px;
		border-color: #CCCCCC;
		float: right;
		transition: all 0.5s;
		clear: both;
	}

	.left-block {

		display: flex;
		justify-content: center;
		align-items: center;
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		color: #808080;
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;

	}

	.encircler {
		width: 90%;
		margin-top: 5px;
		margin-bottom: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #CCCCCC;
		border-radius: 4px;
	}

	.left-column-1 {

		width: 25%;
		margin-left: 5%;
		float: left;

	}

	.left-column-2 {

		width: 70%;
		float: left;

	}

	.left-column-3 {

		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 5px;
		margin-right: 5px;

	}

	.leftblock h4 {
		position: relative;
	}

	.employee-pic {
		width: 90%;
		max-width: 300px;
		border-style: solid;
		border-width: 2px;
		border-color: #999999;
	}

	#right-column-1 {

		width: 70%;
		height: 120vh;
		float: left;
		overflow-y: scroll;

	}

	#right-column-2 {

		width: 30%;
		background-color: #F2F2F2;
		height: 120vh;
		background: linear-gradient(#E6E6E6,#F2F2F2);
		float: right;
		overflow-y: scroll;

	}

	.right-block {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: #808080;
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;

	}

	.right-block-center {

		display: flex;
		justify-content: center;
		align-items: flex-start;
		color: #808080;
		margin-left: 20px;
		margin-right: 20px;

	}

	.right-block-item-1 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		list-style-type: none;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #CCCCCC;

	}

	.right-block-item-1 h5 {

		font-size: 16px;
		color: rgba( 62, 126, 167, 1);
		cursor: pointer;

	}

	.right-block-item-2 {

		color: #808080;
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;

	}

	.right-block-item-3 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-top-color: #CCCCCC;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 20px;
		clear: both;
		list-style-type: none;
	}

	.right-block-half {

		width: 45%;
		margin-left: 5%;
		margin-bottom: 20px;
		float: left;
		list-style-type: none;

	}

	.right-block-column-1 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 40%;
		float: left;

	}

	.right-block-column-2 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 55%;
		margin-right: 5%;
		float: left;

	}

	.right-block-item-2 li {
		margin-left: 10px;
	}

	.right-block-item-3-inner-1 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 42.5%;
		margin-left: 7.5%;
		margin-bottom: -15px;
		float: left;
	}

	.right-block-item-3-inner-2 {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 42.5%;
		margin-right: 7.5%;
		margin-bottom: -15px;
		float: right;
	}

	.label {
		padding: 10px;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
	}

	#halfbox {
		position: relative;
		width: 70%;
		height: 1px;
		top: 55px;
		margin-left: auto;
		margin-right: auto;
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: #CCCCCC;
		z-index: 0;
	}

	.rank-career-title {

		display: flex;
		justify-content: center;
		align-items: center;
		height: 70px;

	}

	.rank-career {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		margin-left: 20px;
		margin-right: 20px;
		background-color: white;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		border-color: #CCCCCC;
		z-index: 10;
	}

	.rank-career-current {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		margin-left: 20px;
		margin-right: 20px;
		background-color: white;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		border-color: #808080;
		z-index: 10;
	}

	.rank-career-text {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 70px;
		height: 35px;
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		border-color: #808080;
		z-index: 0;
		text-align: center;
	    overflow: hidden;
	    text-overflow: ellipsis;

	}

	.fifth-item {

		display: inline-block;
		/*width: 19%;*/
		margin-top: 10px;
		margin-bottom: 10px;

	}

	.fifth-item-inside {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

	}

	.quarter-item {

		display: inline-block;
		width: 24%;
		margin-bottom: 20px;

	}

	.quarter-item-inside {

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

	}

	.third-item {

		display: inline-block;
		width: 32%;
		margin-top: 20px;
		margin-bottom: 20px;

	}

	.third-item-inside {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

	}

	.half-item {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		clear: both;

	}

	.half-item-inside {

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

	}

	.gift-image {

		width: 80px;
		height: 80px;
		margin: 20px;
		border-radius: 10px;

	}

	.training-image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		background-color: white;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		border-color: #808080;
		z-index: 10;
		cursor: pointer;
	}

	.shop-item-text {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 70px;
		height: 35px;
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		border-color: #808080;
		z-index: 0;
		text-align: center;
	    overflow: hidden;
	    text-overflow: ellipsis;

	}

}






@media screen and (max-width: 639px) {

	#top-menu {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50px;
		top: 0px;
		color: #FFFFFF;
		background-color: rgba( 62, 126, 167, 1);
		z-index: 100;
		transition: all 0.5s;
	}

	.center {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}

	#company-box {

		justify-content: flex-start;
		align-items: center;
		height: 50px;
		float: left;

	}

	#company-name {

		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 20px;
		padding-right: 20px;	
		
	}

	#company-name h3 {
		margin-top: 14px;
		
	}

	#banner-box {
		position: relative;
		width: 100%;
		height: 400px;
		top: 130px;
		z-index; 50;
		transition: all 0.5s;

	}

	#banner-menu {

		position: relative;
		width: 100%;
		height: 80px;
		z-index; 50;
		top: -70px;
		transition: all 0.5s;

	}

	#banner {
		position: fixed;
		width: 100%;
		height: 150vh;
		top: 50px;
		background-color: #0080ff;
		background-image: url("images/GameBg.png");
		z-index; 50;
	}

	#banner-cover {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		top: 50px;
		height: 150vh;
		color: white;
		background-image: url("images/Rivet.png");
		z-index; 50;
		transition: all 0.5s;
	}

	#main {

		position: relative;
		top: -100px;

	}

	#menu {

		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-left: 0px;
		padding-right: 2%;
		color: #00b1b3;
		float: right;

	}

	#menu li {
		margin-top: -2px;
		padding: 8px;
		border-radius: 7px;
		border-style: solid;
		border-width: 0px;
	}

	#second-menu {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: #585858;
		background-color: rgba( 255, 255, 255, 1);
		border-style: solid;
		border-width: 1px;
		border-color: #585858;
		transition: all 0.5s;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;

	}

	#second-menu li {
		padding: 15px;
		border-left-style: solid;
		border-left-color: #585858;
		border-left-width: 1px;
		transition: all 0.5s;
		cursor: pointer;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#second-menu li h4 {
		font-size: 16px;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#wrapper {
		position: relative;
		width: 100%;
		height: 200vh;
		top: -100vh;
		opacity: 0;
		background-color: #999999;
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: #999999;
		z-index: 90;
		transition: all 1s;
	}

	#Left {
		position: relative;
		width: 100%;
		margin-top: 20px;
		background-color: #F2F2F2;
		background-image: url("images/Rivet.png");
		border-style: solid;
		border-width: 1px;
		border-color: #CCCCCC;
		float: left;
		transition: all 1s;
		max-height: 850px;
		overflow-y: auto;
		clear: both;
	}

	#Right {
		position: relative;
		width: 100%;
		margin-top: 20px;
		float: right;
		transition: all 0.5s;
		clear: both;
	}

	.left-block {

		display: flex;
		justify-content: center;
		align-items: center;
		color: #808080;
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;

	}

	.encircler {
		width: 90%;
		margin-top: 5px;
		margin-bottom: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #CCCCCC;
		border-radius: 4px;
	}

	.left-column-1 {

		width: 25%;
		margin-left: 5%;
		float: left;

	}

	.left-column-2 {

		width: 70%;
		float: left;

	}

	.left-column-3 {

		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 5px;
		margin-right: 5px;

	}

	.leftblock h4 {
		position: relative;
	}

	.employee-pic {
		width: 90%;
		max-width: 300px;
		border-style: solid;
		border-width: 2px;
		border-color: #999999;
	}

	#right-column-1 {

		width: 100%;
		margin-top: 20px;
		background-color: #F2F2F2;
		border-style: solid;
		border-width: 1px;
		border-color: #CCCCCC;

	}

	#right-column-2 {

		width: 100%;
		margin-top: 20px;
		background: linear-gradient(#E6E6E6,#F2F2F2);
		border-style: solid;
		border-width: 1px;
		border-color: #CCCCCC;

	}

	.right-block {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: #808080;
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;

	}

	.right-block-center {

		display: flex;
		justify-content: center;
		align-items: flex-start;
		color: #808080;
		margin-left: 20px;
		margin-right: 20px;

	}

	.right-block-item-1 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		list-style-type: none;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #CCCCCC;

	}

	.right-block-item-1 h5 {

		font-size: 16px;
		color: rgba( 62, 126, 167, 1);
		cursor: pointer;

	}

	.right-block-item-2 {

		color: #808080;
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;

	}

	.right-block-item-3 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-top-color: #CCCCCC;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 20px;
		clear: both;
		list-style-type: none;
	}

	.right-block-half {

		width: 45%;
		margin-left: 5%;
		margin-bottom: 20px;
		float: left;
		list-style-type: none;

	}

	.right-block-column-1 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 40%;
		float: left;

	}

	.right-block-column-2 {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 55%;
		margin-right: 5%;
		float: left;

	}

	.right-block-item-2 li {
		margin-left: 10px;
	}

	.right-block-item-3-inner-1 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 42.5%;
		margin-left: 7.5%;
		margin-bottom: -15px;
		float: left;
	}

	.right-block-item-3-inner-2 {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 42.5%;
		margin-right: 7.5%;
		margin-bottom: -15px;
		float: right;
	}

	.label {
		padding: 10px;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
	}

	#halfbox {
		position: relative;
		width: 70%;
		height: 1px;
		top: 50px;
		margin-left: auto;
		margin-right: auto;
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: #CCCCCC;
		z-index: 0;
	}

	.rank-career-title {

		display: flex;
		justify-content: center;
		align-items: center;
		height: 70px;

	}

	.rank-career {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		margin-left: 20px;
		margin-right: 20px;
		background-color: white;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		border-color: #CCCCCC;
		z-index: 10;
	}

	.rank-career-current {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		margin-left: 20px;
		margin-right: 20px;
		background-color: white;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		border-color: #808080;
		z-index: 10;
	}

	.rank-career-text {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 60px;
		height: 35px;
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		border-color: #808080;
		z-index: 0;
		text-align: center;
	    overflow: hidden;
	    text-overflow: ellipsis;

	}

	.fifth-item {

		display: inline-block;
		/*width: 19%;*/
		margin-top: 10px;
		margin-bottom: 10px;

	}

	.fifth-item-inside {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

	}

	.quarter-item {

		display: inline-block;
		width: 23%;
		margin-bottom: 20px;

	}

	.quarter-item-inside {

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

	}

	.third-item {

		display: inline-block;
		width: 32%;
		margin-top: 20px;
		margin-bottom: 20px;

	}

	.third-item-inside {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

	}

	.half-item {

		display: inline-block;
		width: 24%;
		margin-bottom: 20px;

	}

	.half-item-inside {

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

	}

	.gift-image {

		width: 60px;
		height: 60px;
		margin: 20px;
		border-radius: 10px;

	}

	.training-image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		background-color: white;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		border-color: #808080;
		z-index: 10;
		cursor: pointer;
	}

	.shop-item-text {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 60px;
		height: 35px;
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		border-color: #808080;
		z-index: 0;
		text-align: center;
	    overflow: hidden;
	    text-overflow: ellipsis;

	}

	.aht {
		width: 48%;
	}

}

@-moz-document url-prefix() {

	@media screen and (min-width: 960px) {

		#Right {
			position: relative;
			width: 67.5%;
			top: 35px;
			background-color: rgba( 255, 255, 255, 1);
			border-style: solid;
			border-width: 1px;
			border-color: #CCCCCC;
			float: right;
			transition: all 0.5s;
			height: 850px;
			margin-bottom: 140px;
		}

	}

	@media screen and (min-width: 640px) and (max-width: 959px) {

		#Right {
			position: relative;
			width: 100%;
			margin-top: 20px;
			background-color: rgba( 255, 255, 255, 1);
			border-style: solid;
			border-width: 1px;
			border-color: #CCCCCC;
			float: right;
			transition: all 0.5s;
			clear: both;
			margin-bottom: 120px;
		}


	}

	@media screen and (max-width: 639px) {

		#right-column-2 {
		width: 100%;
		margin-top: 20px;
		background: linear-gradient(#E6E6E6,#F2F2F2);
		border-style: solid;
		border-width: 1px;
		border-color: #CCCCCC;
		margin-bottom: 40px;

	}

	}

}